@media (max-width: 480px) {
  .wrapper {
    max-width: 480px;
    width: 100%;
    overflow: hidden;
  }
  .title {
    margin-bottom: 40px;
  }
  .head {
    display: flex;
    flex-direction: column;
    background: none;
    height: 880px;
    background: linear-gradient(0deg, rgba(249, 252, 255, 0.95), rgba(249, 252, 255, 0.95)), url("../img/adaptive/Bg.png");
  }
  .head .header {
    padding: 15px 20px;
  }
  .head .header__nav {
    display: none;
  }
  .head .header__contacts .contacts__text {
    display: none;
  }
  .head .header__contacts .contacts__button {
    display: none;
  }
  .head .header__logo {
    margin-right: 38.58px;
    max-width: 100%;
  }
  .head .mobile__image {
    display: flex;
  }
  .head .mobile__image img {
    max-width: 100%;
  }
  .head .main {
    display: flex;
    text-align: center;
    margin: 38px 17px 82px 23px;
    height: 410px;
  }
  .head .main .main__title {
    display: flex;
    max-width: 440px;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .head .main .main__title p {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
  }
  .head .main .main__title .title__line {
    top: 29px;
    left: 220px;
  }
  .head .main .main__buttons {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 440px;
    width: 100%;
  }
  .head .main .main__buttons .buttons__flat--active {
    margin-bottom: 10px;
  }
  .head .hamburger__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 20px;
  }
  .head .hamburger__button img {
    margin-left: 10px;
  }
  .life {
    margin-bottom: 120px;
  }
  .life .wrapper__life {
    height: 1002px;
  }
  .life .wrapper__life .life__title {
    margin: 0 20px 40px 20px;
  }
  .life .wrapper__life .life__grid {
    height: 874px;
    grid-template-columns: fit-content(100%);
    grid-template-rows: repeat(6, fit-content(100%));
    gap: 20px;
  }
  .life .wrapper__life .life__grid .col {
    flex-direction: row;
    justify-content: start;
    height: 120px;
    padding: 40px;
  }
  .life .wrapper__life .life__grid .col img {
    width: 40px;
    height: 40px;
    margin-right: 30px;
  }
  .life .wrapper__life .life__grid .col p {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-right: 30px;
    width: 231px;
    -moz-text-align-last: left;
         text-align-last: left;
    margin-top: 0;
  }
  .life .wrapper__life .life__grid .col .arrowd {
    display: flex;
    width: 14.5px;
    height: 7.25px;
  }
  .life .wrapper__life .life__grid .col:hover .arrowd {
    display: none;
  }
  .life .wrapper__life .life__grid .col:hover .arrowu {
    display: flex;
    width: 14.5px;
    height: 7.25px;
  }
  .map {
    max-width: 480px;
    width: 100%;
    height: 828px;
    margin-bottom: 120px;
  }
  .map .map__title {
    margin-bottom: 40px;
  }
  .build {
    width: 480px;
    height: 616px;
    justify-content: start;
    margin-bottom: 120px;
  }
  .build .build__title {
    text-align: left;
    margin-left: 64px;
  }
  .build .build__numbers {
    margin-left: 20px;
  }
  .build .build__gallery {
    margin-left: 20px;
  }
  .build .build__gallery .gallery__scroll {
    display: none;
  }
  .build .build__gallery .gallery__arrows .arrow-left,
.build .build__gallery .gallery__arrows .arrow-right {
    display: none;
  }
  .tab {
    margin-bottom: 120px;
  }
  .plan {
    width: 440px;
    height: 807px;
    margin-left: 20px;
    margin-bottom: 120px;
  }
  .plan .plan__wrapper {
    flex-wrap: wrap;
    width: 440px;
    height: 723px;
  }
  .plan .plan__wrapper .plan__image {
    margin-right: 0;
  }
  .plan .plan__wrapper .plan__image img {
    max-width: 100%;
    width: 360px;
  }
  .plan .plan__wrapper .plan__check {
    background-color: #fff;
  }
  .plan .plan__wrapper .plan__check .check__buttons {
    width: 360px;
  }
  .plan .plan__wrapper .plan__check .button-one,
.plan .plan__wrapper .plan__check .button-two {
    width: 165px;
  }
  .plan .plan__wrapper .plan__check .check__title p:first-child {
    font-size: 18px;
    line-height: 22px;
  }
  .photos {
    margin-bottom: 120px;
  }
  .photos .photo__title {
    margin-bottom: 40px;
  }
  .photos .photo__images {
    justify-content: space-around;
  }
}