@charset "UTF-8";
/*Обнуляющий CSS*/
/*Убираем все отступы и границы*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/*Убираем границы для удобства просчета*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*Убираем линии обводки в некоторых браузерах*/
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/*Делаем блочными некоторые тэги*/
nav,
footer,
header,
aside {
  display: block;
}

/*Уравниваем параметры поведения шрифтов и элементов в разных браузерах.
В том числе запрещают самовольное увеличение шрифтов на мобильных устройствах*/
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*Обращаемся к тэгам форм и просим их наследовать семейство шрифтов*/
input,
button,
textarea,
select {
  font-family: inherit;
}

/*Убираем некоторые особенности в разных браузерах для тэгов*/
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*Обнуляем все заголовки*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100vh;
}

/*------------------------------------------------------*/
body {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  background: #fff;
}

.header {
  margin-bottom: 5.2rem;
}

.header__nav {
  height: 7.4rem;
  background: #ffffff;
  display: flex;
  align-items: center;
  padding: 0.6rem 37.6rem 2.3rem 8.6rem;
}
.header__nav .logo {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 4.5rem;
  letter-spacing: 0.11rem;
  text-transform: lowercase;
  margin-right: 21rem;
}
.header__nav .nav .nav__list {
  display: flex;
}
.header__nav .nav .nav__list a {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: 0.02rem;
  text-transform: lowercase;
  color: #222;
  margin-right: 3.3rem;
  transition: all 0.3s;
}
.header__nav .nav .nav__list a:hover {
  color: #fd8558;
}

.main {
  height: 76.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/BGmain.png);
  background-size: cover;
  background-position: center;
}
.main .main__text {
  font-weight: 400;
  font-size: 7rem;
  line-height: 8.5rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 5.4rem;
}
.main .main__buttons a {
  padding: 1.2rem 3.9rem 1.4rem 3.7rem;
  border: 0.2rem solid #fd8558;
  margin-right: 2.8rem;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 3rem;
  transition: all 0.3s;
}
.main .main__buttons a:last-child {
  margin-right: 0;
}
.main .main__buttons a:hover {
  background: #fd8558;
}

.about {
  margin-bottom: 18.5rem;
}
.about .about__wrapper .about__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5.7rem;
}
.about .about__wrapper .about__text .text__header {
  font-weight: 400;
  font-size: 15rem;
  line-height: 14.5rem;
  letter-spacing: 0.01rem;
  color: #f7f7f7;
  margin-bottom: 4.4rem;
}
.about .about__wrapper .about__text .text__about {
  display: flex;
  justify-content: center;
}
.about .about__wrapper .about__text .text__about .description-left {
  width: 48rem;
  margin-right: 1.5rem;
}
.about .about__wrapper .about__text .text__about .description-left .dl__header {
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #fd8558;
  margin-bottom: 3.4rem;
}
.about .about__wrapper .about__text .text__about .description-left .dl__text {
  font-weight: 400;
  font-size: 4rem;
  line-height: 5.4rem;
  color: #333333;
}
.about .about__wrapper .about__text .text__about .description-right {
  width: 66rem;
  padding-left: 6rem;
}
.about .about__wrapper .about__text .text__about .description-right .dr__text p:first-child {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.8rem;
  text-transform: capitalize;
  color: #222222;
  margin-bottom: 1.1rem;
}
.about .about__wrapper .about__text .text__about .description-right .dr__text p:last-child {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.6rem;
  color: #999999;
}
.about .about__wrapper .about__mission {
  display: flex;
  justify-content: center;
}
.about .about__wrapper .about__mission .mission__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 6.5rem;
  width: 42.5rem;
  padding: 5.5rem 6.25rem 3.9rem 0;
}
.about .about__wrapper .about__mission .mission__description p:nth-child(1) {
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 4.5rem;
  color: #222222;
  margin-bottom: 5.6rem;
}
.about .about__wrapper .about__mission .mission__description p:nth-child(1) span {
  font-style: italic;
  color: #fd8558;
}
.about .about__wrapper .about__mission .mission__description p:nth-child(2) {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2rem;
  color: #222222;
  margin-bottom: 1.4rem;
}
.about .about__wrapper .about__mission .mission__description p:nth-child(3) {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2.2rem;
  letter-spacing: 0.18rem;
  color: #cacaca;
}

.need {
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;
}
.need .need__wrapper {
  width: 120rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.need .need__wrapper .need__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.need .need__wrapper .need__item .item__header {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.8rem;
  color: #333333;
}
.need .need__wrapper .need__item .item__text {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.6rem;
  text-align: center;
  color: #999999;
  width: 33.7rem;
}

.works {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.works .works__wrapper .works__lines {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}
.works .works__wrapper .works__lines .lines {
  width: 60.6rem;
  height: 0.2rem;
  background: #f5f5f5;
}
.works .works__wrapper .works__lines .color-circle {
  width: 8rem;
  height: 8rem;
  border-radius: 4rem;
  background: #fd8558;
  opacity: 20%;
  margin: 0 3.9rem 0 3.9rem;
}
.works .works__wrapper .works__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12rem 0 12rem;
}
.works .works__wrapper .works__text .text__text .text__header {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #fd8558;
  margin-bottom: 0.8rem;
}
.works .works__wrapper .works__text .text__text .text__description {
  width: 31.2rem;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 3.8rem;
  color: #333333;
}
.works .works__wrapper .works__text .text__button {
  align-self: flex-end;
}
.works .works__wrapper .works__text .text__button a {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 3rem;
  color: #fff;
  padding: 1.3rem 3.7rem;
  background: #fd8558;
}
.works .works__wrapper .works__header {
  font-weight: 400;
  font-size: 20rem;
  line-height: 18rem;
  text-align: right;
  color: #f7f7f7;
  margin-right: 2.7rem;
}

.gallary {
  display: flex;
  justify-content: center;
  margin-bottom: 11.5rem;
}
.gallary .gallary__wrapper {
  width: 144rem;
  display: grid;
  grid-template-areas: "a c d" "b c e";
}
.gallary .gallary__wrapper .item-one {
  grid-area: a;
}
.gallary .gallary__wrapper .item-five {
  grid-area: e;
}
.gallary .gallary__wrapper .item-one,
.gallary .gallary__wrapper .item-five {
  width: 36rem;
  height: 36rem;
  background-image: url("../img/gallary/img1.png");
  background-size: cover;
  background-position: center;
}
.gallary .gallary__wrapper .item-two {
  width: 36rem;
  height: 36rem;
  background-image: url("../img/gallary/img2.png");
  grid-area: b;
  background-size: cover;
  background-position: center;
}
.gallary .gallary__wrapper .item-three {
  width: 72rem;
  height: 72rem;
  background-image: url("../img/gallary/img3.png");
  grid-area: c;
  background-size: cover;
  background-position: center;
}
.gallary .gallary__wrapper .item-four {
  width: 36rem;
  height: 36rem;
  background-image: url("../img/gallary/img4.png");
  grid-area: d;
  background-size: cover;
  background-position: center;
}
.gallary .gallary__wrapper .gallary__item {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.gallary .gallary__wrapper .item__checkbox {
  width: 94.44%;
  background-color: #fff;
  opacity: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 3.5rem;
  margin-bottom: 4rem;
}
.gallary .gallary__wrapper .item__checkbox p {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.3rem;
  color: #222222;
}
.gallary .gallary__wrapper .item__checkbox input {
  width: 4.6rem;
  height: 4.6rem;
  background: #ffffff;
  border: 0.2rem solid #222222;
  accent-color: #fff;
}

.modern {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modern__wrapper {
  display: flex;
  width: 120rem;
  justify-content: center;
  align-items: center;
}
.modern__text {
  margin-right: 1.6rem;
  width: 45.6rem;
}
.modern__text-header {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #fd8558;
}
.modern__text-par {
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 3.8rem;
  color: #222222;
  margin-bottom: 1.2rem;
}
.modern__text-text {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.6rem;
  color: #999999;
}
.modern__lines .modern__lines-illustration {
  margin-bottom: 4.5rem;
}
.modern__lines .modern__lines-illustration p:first-child {
  margin-right: 40.4rem;
}
.modern__lines .modern__lines-design {
  margin-bottom: 4.5rem;
}
.modern__lines .modern__lines-design p:first-child {
  margin-right: 34.8rem;
}
.modern__lines .modern__lines-development p:first-child {
  margin-right: 40.8rem;
}
.modern__lines p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #222222;
}
.modern__lines .text-percent {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.3rem;
  color: #999999;
}
.modern__lines .label {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
}
.modern__lines .line90 {
  width: 60rem;
  height: 1rem;
  background: #eeeeee;
  position: relative;
}
.modern__lines .line90 span {
  width: 54rem;
  height: 1rem;
  background: linear-gradient(90deg, #ff4803 0%, #ffae35 59.74%);
  position: absolute;
  top: 0;
  left: 0;
}
.modern__lines .line80 {
  width: 60rem;
  height: 1rem;
  background: #eeeeee;
  position: relative;
}
.modern__lines .line80 span {
  width: 48rem;
  height: 1rem;
  background: linear-gradient(90deg, #ff4803 0%, #ffae35 59.74%);
  position: absolute;
  top: 0;
  left: 0;
}
.modern__lines .line95 {
  width: 60rem;
  height: 1rem;
  background: #eeeeee;
  position: relative;
}
.modern__lines .line95 span {
  width: 57rem;
  height: 1rem;
  background: linear-gradient(90deg, #ff4803 0%, #ffae35 59.74%);
  position: absolute;
  top: 0;
  left: 0;
}

.team {
  margin-bottom: 11.5rem;
}
.team__wrapper {
  padding-top: 10.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team__header-text1 {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5rem;
  text-align: center;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #fd8558;
  margin-bottom: 3rem;
}
.team__header-text2 {
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 4.2rem;
  text-align: center;
  text-transform: capitalize;
  color: #222222;
  margin-bottom: 3.9rem;
}
.team__grid {
  display: grid;
  grid-template-columns: 35rem 35rem 35rem;
  grid-template-rows: 35rem 35rem;
  gap: 3rem;
  justify-content: center;
  margin-bottom: 8rem;
}
.team__grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team__grid-item p:first-child {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3rem;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 0.1rem;
}
.team__grid-item p:last-child {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-align: center;
  color: #fcfcfc;
}
.team__grid-item:nth-child(1) {
  background: url(../img/gallary/team/1.png) no-repeat;
}
.team__grid-item:nth-child(2) {
  background: url(../img/gallary/team/2.png) no-repeat;
}
.team__grid-item:nth-child(3) {
  background: url(../img/gallary/team/3.png) no-repeat;
}
.team__grid-item:nth-child(4) {
  background: url(../img/gallary/team/4.png) no-repeat;
}
.team__grid-item:nth-child(5) {
  background: url(../img/gallary/team/5.png) no-repeat;
}
.team__grid-item:nth-child(6) {
  background: url(../img/gallary/team/6.png) no-repeat;
}
.team__button {
  background: #fd8558;
  padding: 1.3rem 3.7rem;
}
.team__button a {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 3rem;
  color: #ffffff;
}
.team__button:hover {
  opacity: 90%;
}

.test {
  background: #3a0f73;
  height: 76rem;
  margin-bottom: 11.5rem;
}
.test__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.test__header {
  font-weight: 400;
  font-size: 20rem;
  line-height: 22rem;
  text-align: center;
  color: rgba(170, 170, 170, 0.1);
  margin-top: 7rem;
  margin-bottom: 4.4rem;
}
.test__block-text {
  width: 82.4rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.9rem;
  text-align: center;
  letter-spacing: 0.02rem;
  color: #ffffff;
  margin-bottom: 6.4rem;
}

.block-team__items {
  display: flex;
  justify-content: center;
}

.item-image {
  margin-right: 1.5rem;
}

.item-text {
  display: flex;
  flex-direction: column;
  padding: 0.7rem 0 0.8rem 0;
}
.item-text p:first-child {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #ffffff;
  padding-top: 0.7rem;
}
.item-text p:last-child {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2.2rem;
  -moz-text-align-last: left;
       text-align-last: left;
  color: #ffffff;
  padding-bottom: 0.8rem;
}

.planet {
  margin-bottom: 11.5rem;
}
.planet__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.planet__header {
  margin-bottom: 1.6rem;
}
.planet__header p:first-child {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5rem;
  text-align: center;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #fd8558;
  margin-bottom: 4.7rem;
}
.planet__header p:last-child {
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 4.2rem;
  text-align: center;
  color: #222222;
}
.planet__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  width: 117rem;
}
.planet__grid-item-image {
  margin-bottom: 1.8rem;
}

.item-date {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.date-links a {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.1rem;
  color: #fd8558;
}
.date-links a:first-child {
  margin-right: 1.5rem;
}

.date {
  display: flex;
  align-items: center;
}
.date p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #999999;
}

.gray-cube {
  width: 0.5rem;
  height: 0.5rem;
  background: #dfdede;
  margin-left: 1.5rem;
  margin-right: 1rem;
}

.item-block-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #222222;
  padding-right: 3.4rem;
  margin-bottom: 3.6rem;
}

.item-link a {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.1rem;
  color: #fd8558;
}

.form {
  margin-bottom: 11.5rem;
}
.form__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form form {
  display: flex;
}
.form__text {
  margin-right: 11.7rem;
}
.form__text-item:first-child {
  margin-bottom: 4.5rem;
}
.form__text-item-header {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.2rem;
  color: rgba(34, 34, 34, 0.4);
}
.form__text-item-text {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.3rem;
  color: #222222;
}
.form__block-user input {
  width: 33.8rem;
  height: 5.8rem;
  border: 1px solid #eeeeee;
  margin-bottom: 3rem;
}
.form__block-user input:first-child {
  margin-right: 2.9rem;
}
.form__block-user input::-moz-placeholder {
  padding: 1.8rem 0 1.9rem 4rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #999999;
}
.form__block-user input:-ms-input-placeholder {
  padding: 1.8rem 0 1.9rem 4rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #999999;
}
.form__block-user input::placeholder {
  padding: 1.8rem 0 1.9rem 4rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #999999;
}
.form__block-text textarea {
  width: 70.5rem;
  height: 12.8rem;
  resize: none;
  border: 1px solid #eeeeee;
  margin-bottom: 6.5rem;
}
.form__block-text textarea::-moz-placeholder {
  padding: 2rem 0 0 4rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #999999;
}
.form__block-text textarea:-ms-input-placeholder {
  padding: 2rem 0 0 4rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #999999;
}
.form__block-text textarea::placeholder {
  padding: 2rem 0 0 4rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #999999;
}
.form__block-button button {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.1rem;
  text-align: center;
  color: #ffffff;
  background: #fd8558;
  padding: 1.7rem 3.8rem 1.8rem 3.8rem;
}
.form__block-button button:hover {
  opacity: 95%;
}

.footer {
  background: #111111;
}
.footer a {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #bababa;
  margin-bottom: 0.9rem;
  transition: all 0.3s;
}
.footer a:last-child {
  margin-bottom: 0;
}
.footer a:hover {
  color: #fff;
}
.footer__wrapper {
  padding-top: 9rem;
  padding-bottom: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__info {
  display: flex;
  margin-bottom: 4rem;
}
.footer__info-anow {
  margin-right: 9rem;
}
.footer__info-anow-header {
  font-weight: 400;
  font-size: 4rem;
  line-height: 5.2rem;
  color: #ffffff;
  margin-bottom: 1.7rem;
}
.footer__info-anow-text {
  display: flex;
}
.footer__info-anow-text p {
  font-weight: 400;
  line-height: 2.2rem;
  color: rgba(255, 255, 255, 0.6);
}
.footer__info-anow-text p:nth-child(1) {
  font-size: 1.5rem;
  margin-right: 1.5rem;
}
.footer__info-anow-text p:nth-child(2) {
  margin-right: 1rem;
}
.footer__info-anow-text p:nth-child(2),
.footer__info-anow-text p:nth-child(3) {
  font-size: 1.4rem;
}
.footer__info-home {
  margin-right: 9rem;
}
.footer__info-home-links {
  display: flex;
  flex-direction: column;
}
.footer__info-port {
  margin-right: 9rem;
}
.footer__info-port-links {
  display: flex;
  flex-direction: column;
}
.footer__info-blog-links {
  display: flex;
  flex-direction: column;
}
.footer__rights {
  display: flex;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 3rem;
  text-align: center;
  letter-spacing: 0.03rem;
  color: #bababa;
}
.footer__rights p:nth-child(1),
.footer__rights p:nth-child(2),
.footer__rights p:nth-child(3) {
  margin-right: 0.3rem;
}
.footer__rights p:nth-child(2),
.footer__rights p:nth-child(4) {
  color: #fff;
}
.footer .header-columns {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.1rem;
  color: #ffffff;
  margin-bottom: 1.9rem;
}