@import "nullstyle.scss";

%h2 {
      font-size: 30px;
      letter-spacing: -1px;
      line-height: 22px;
      text-transform: uppercase;
      color: #394b50;
      font-weight: 800;
      font-family: "Gotham";
      text-align: center;
      padding-bottom: 10px;
}
%p {
   color: #394b50;
   text-align: center;
   font-family: sans-serif;
}
%price {
   font-size: 60px;
   line-height: 22px;
   font-weight: 700;
   font-family: "Lato";
   padding-bottom: 10px;
}

input {
   &:focus {
      box-shadow:0 0 20px #fff;
      }
}

header {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 93px;
   margin: 0 auto;
}

nav {
   display: flex;
   font-family: 'Lato', sans-serif;
   font-size: 14px;
}

.logo {
   width: 50px;
   height: 48px;
   margin-right: 310px;
}

ul {
   list-style: none;
   margin: 0 auto;
}

.one__item {
   display: inline;
   & li {
      display: inline-block;
      text-transform: uppercase;
      padding: 10px 20px 0px 20px;
      cursor: pointer;
      width: 81px;
      height: 34px;
      text-align: center;

      &:nth-child(2) {
         width: 92px;
      }
      &:nth-child(3) {
         width: 110px;
      }
      
      &:nth-child(5) {
         width: 138px;
      }
      &:nth-child(4) {
         width: 142px;
      }
      &:nth-child(6) {
         width: 146px;
      }
      &:nth-child(7) {
         width: 128px;
      }

      &:hover {
         background-color: #ffbb42;
         border-radius: 2px;
      }
   }
}

a {
   text-decoration: none;
}

.forms {
   height: 589px;
   background-color: #709dca;
   & .image {
      text-align: center;
   }
   & h1 {
      font-family: "Gotham";
      font-size: 35px;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: -1px;
      line-height: 24px;
      color: #ffffff;
      text-align: center;
      padding: 110px 0 10px 0;
   }
   & p {
      color: #ffffff;
      text-align: center;
      font-family: sans-serif;
      padding-bottom: 30px;
   }
}

.form__one {
   display: flex;
   text-align: center;
   margin-bottom: 65px;
   justify-content: center;
   & input {
      width: 282px;
      height: 48px;
      font-size: 13px;
      color: #a9a9a9;
      font-weight: 400;
      font-family: "Open Sans";
      margin-right: 10px;
      padding-left: 42px;
      }
   & button {
      text-transform: uppercase;
      border-radius: 2px;
      background-color: #ffbb42;
      width: 212px;
      height: 47px;
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      font-family: "Open Sans";
   }
}

.fullname {
   position: relative;
   & i{
      position: absolute;
      left: 0;
      top: 16px;
      padding-left: 14px;
      color: #6e6e6e;
   }
}
.emailadress {
   position: relative;
   & i{
      position: absolute;
      left: 0;
      top: 16px;
      padding-left: 14px;
      color: #6e6e6e;
   }
}
.phone {
   position: relative;
   & i{
      position: absolute;
      left: 0;
      top: 16px;
      padding-left: 14px;
      color: #6e6e6e;
   }
}

.services {
   margin: 201px 0 153px 0;
   & h2 {
      @extend %h2;
      padding-bottom: 10px;
   }
   & p {
      @extend %p;
      margin-bottom: 90px;
   }
}

.services__items {
   width: 1170px;
   display: grid;
   grid-template-columns: 1fr 3fr 1fr 3fr;
   margin: 0 auto;
   & p {
      text-align: left;
   }
}
.services__font-image,
.services__fully-image,
.services__work-image,
.services__retina-image,
.services__code-image,
.services__flat-image {
   margin: 0 auto;
}

.about {
   display: flex;
   height: 620px;
   background-color: #ffc155;
   & h4 {
      font-size: 30px;
      letter-spacing: -1px;
      line-height: 22px;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 800;
      font-family: "Gotham";
      padding-bottom: 32px;
   }
   & p {
      font-size: 13px;
      line-height: 24px;
      color: #ffffff;
      font-weight: 400;
      font-family: "Open Sans";
      padding-bottom: 27px;
   }
}

.about__text {
   justify-self: center;
   align-self: center;
   max-width: 505px;
   padding-left: 90px;
}
.about__text-button {
   width: 146px;
   height: 47px;
   text-transform: uppercase;
   font-size: 14px;
   color: #ffffff;
   font-family: "Lato";
   background-color: #ffc155;
   border: 1px solid #e7ad47;
   border-radius: 2px;
}

.price__text {
   margin-bottom: 50px;
   & h2 {
      @extend %h2;
      padding-bottom: 10px;
   }
   & p {
      @extend %p;
   }
}

.price {
   height: 895px;
   background-color: #e7edf3;
   padding-top: 135px;
}

.price__items {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;

   & h4 {
      font-size: 25px;
      line-height: 22px;
      text-transform: uppercase;
      color: #818b95;
      font-weight: 300;
      font-family: "Lato";
      padding-bottom: 35px;
   }
   & p {
      font-size: 14px;
      line-height: 40px;
      text-transform: uppercase;
      color: #b5bbc1;
      font-weight: 400;
      font-family: "Lato";
      width: 328px;
      margin: 0 auto;
   }
   & button {
      width: 132px;
      height: 43px;
      font-size: 14px;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 400;
      font-family: "Lato";
      background-color: #ffbb42;
      margin-top: 20px;
      border-radius: 2px;
   }
}

.price__items-basic,
.price__items-gold {
   width: 392px;
   height: 442px;
   border: 1px solid silver;
   padding-top: 50px;
}

.price__items-basic > p:nth-child(2),
.price__items-gold > p:nth-child(2) {
   @extend %price;
   color: #ffbb42;
}

.price__items-basic > p:nth-child(3),
.price__items-premium > p:nth-child(3),
.price__items-gold > p:nth-child(3) {
   font-size: 20px;
   padding-bottom: 30px;
}

.price__items-basic > p:nth-child(4),
.price__items-basic > p:nth-child(5),
.price__items-basic > p:nth-child(6),
.price__items-gold > p:nth-child(4),
.price__items-gold > p:nth-child(5),
.price__items-gold > p:nth-child(6) {
   border-top: 1px solid silver;
}

.price__items-premium {
   width: 396px;
   height: 502px;
   background-color: #709dca;
   padding-top: 85px;
   & h4 {
      color: #fff;
   }
   & p {
      color: #c2e1ff;
   }
}
.price__items-premium > p:nth-child(2) {
   @extend %price;
   color: #fff;
}
.price__items-premium > p:nth-child(4),
.price__items-premium > p:nth-child(5),
.price__items-premium > p:nth-child(6) {
   border-top: 1px solid #8eb8e2;
}

.works__text {
   padding: 150px 0 75px 0;
   & h4 {
      @extend %h2;
   }
   & p {
      @extend %p;
   }
}

.works {
   text-align: center;
   height: 860px;
}

.work__items {
   & button {
      width: 166px;
      height: 47px;
      font-size: 14px;
      text-transform: uppercase;
      color: #fff;
      font-weight: 400;
      font-family: "Lato";
      text-align: center;
      background-color: #ffbb42;
      border-radius: 2px;
      margin-top: 90px;
   }
   
}

.row__images {
   display: flex;
   text-align: center;
   padding-bottom: 60px;
   justify-content: center;
   
   & img {
      height: 100%;
      padding: 0 46px;
      &:nth-child(2),
      &:nth-child(6) {
         position: relative;
         top: -30px;
      }
      &:nth-child(4) {
         align-self: flex-end;
         position: relative;
         bottom: -30px;
      }
   }
   
}

.row__text {
   column-count: 4;
   text-align: center;
   & h5 {
      font-size: 20px;
      line-height: 22px;
      text-transform: uppercase;
      color: #394b50;
      font-weight: 700;
      font-family: "Lato";
      text-align: center;
   }
   & p {
      width: 228px;
      height: 64px;
      font-size: 13px;
      line-height: 22px;
      color: #7b7b7b;
      font-weight: 400;
      font-family: "Open Sans";
      text-align: center;
      margin: 0 auto;
   }
}

.clients {
   height: 906px;
   background-color: #ffc155;
   justify-content: center;
}

.clients__text {
   padding: 135px 0 55px 0;
   & h2 {
      @extend %h2;
      color: #fff;
   }
   & p {
      @extend %p;
      color: #fff;
   }
}

.clients-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
}

.clients__items {
   display: grid;
   grid-template-columns:1fr 1fr;
   gap: 20px;
   width: 1170px;
}

.row {
   display: grid;
   grid-template-columns: fit-content(100%) fit-content(100%);
   background-color: #fff;
   width: 568px;
   height: 242px;
   padding-top: 50px;
   padding-bottom: 51px;
   position: relative;
      &:hover {
         transform: scale(1.01);
         box-shadow: 10px 10px 10px #a9a9a9;
      }
   & p {
      font-size: 13px;
      line-height: 22px;
      color: #7b7b7b;
      font-weight: 400;
      font-family: "Open Sans";
   }
   & img {
      padding: 0 30px 0 30px;
   }
   & i {
      color: #7b7b7b;
      position: absolute;
      left: 166px;
   }
}

.autor {
   text-transform: uppercase;
   padding-top: 20px;
   & span {
      font-size: 14px;
      line-height: 22px;
      color: #f6772c;
      font-weight: 400;
      font-family: "Lato";
      &:last-child {
         color: #99a9ae;
      }
   }
}

.news {
   position: relative;
   height: 944px;
   & h2 {
      @extend %h2;
      padding-top: 150px;
   }
   & p {
      @extend %p;
      padding-bottom: 56px;
   }
   & input {
      border: 1px solid #cbcbcb;
      &:focus {
         border-color: #709dca;
         box-shadow:0 0 20px #709dca;
         }
   }
   & .fullname {
      & input {
      width: 309px;
      height: 49px;
      }
      & i{
         padding-left: 18px;
      }
   }
   & .emailadress {
      & input {
      width: 389px;
      height: 49px;
      }
      & i{
         padding-left: 18px;
      }
   }
   & button {
      width: 219px;
      height: 48px;
   }
   & .map {
      text-align: center;
      position: relative;
      padding-bottom: 55px;
      border-bottom: 2px solid #e3e7ec;
      & .round {
         position: absolute;
         left: 620px;
         top: 39px;
      }
      .par {
         position: absolute;
         left: 700px;
         bottom: 300px;
         & h2 {
            font-size: 15px;
            text-transform: uppercase;
            color: #ffffff;
            font-weight: 700;
            font-family: "Lato";
            text-align: center;
         }
         & p {
            font-size: 13px;
            font-family: "Open Sans";
            color: #657478;
            line-height: 20px;
            & span {
               color: #ffbb42;
            }
            &:hover {
               color: #fff;
            }
         }
      }
      & .logo-map {
         position: absolute;
         left: 734px;
         top: 340px;
      }
   }
}

.contacts {
   height: 216px;
   & .one {
      padding-top: 68px;
      margin-bottom: 29px;
   }
   & .tel {
      font-size: 22px;
      color: #394b50;
      font-weight: 400;
      font-family: "Lato";
      text-align: center;
      margin-bottom: 22px;
      & i {
         font-size: 20px;
      }
   }
   & .social-icons {
      font-size: 18px;
      color: #709dca;
      text-align: center;
      letter-spacing: 8px;
      margin-bottom: 69px;
      & i:hover {
         color: #ffc155;
      }
   }
}

footer {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 45px;
   text-align: center;
   background-color: #709dca;
   & p {
      font-size: 13px;
      line-height: 24px;
      color: #ffffff;
      font-weight: 400;
      font-family: "Open Sans";
      text-align: center;
   }
}

button:hover {
   background-color: #f9b643;
}