@media (max-width: 480px) {
   .wrapper {
      max-width: 480px;
         width: 100%;
      // min-width: 100%;
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // justify-content: center;
   }

   .head {
      display: flex;
      flex-direction: column;
      background: none;
      height: 880px;
      background: linear-gradient(0deg, rgba(249, 252, 255, 0.95), rgba(249, 252, 255, 0.95)), url('../img/adaptive/Bg.png');
      
      .header {
         padding: 15px 20px;
      }
      .header__nav {
         display: none;
      }
   
      .header__contacts {
         .contacts__text {
            display: none;
         }
         .contacts__button {
            display: none;
         }
      }
      
      .header__logo {
         margin-right: 38.58px;
         max-width: 100%;
      }
   
      .mobile__image {
         display: flex;
         & img {
            max-width: 100%;
         }
      }
   
      .main {
         display: flex;
         text-align: center;
         margin: 38px 17px 82px 23px;
         height: 410px;
         .main__title {
            display: flex;
            max-width: 440px;
            width: 100%;
            justify-content: center;
            margin: 0 auto;
               margin-bottom: 20px;
            & p {
               font-weight: 500;
               font-size: 36px;
               line-height: 44px;
               }
            .title__line {
               top: 29px;
               left: 220px;
            }
         }
         .main__buttons {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            max-width: 440px;
            width: 100%;
            .buttons__flat--active {
               margin-bottom: 10px;
            }
         }
      }
   
      .header__hamburger {
         display: flex;
         justify-content: center;
         align-items: center;
         padding: 10px 20px 10px 20px;
         .hamburger__name {
            margin-right: 10px;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
         }
         & img {
            padding-bottom: 3px;
         }
      }
   }

   .life {
      margin-bottom: 120px;
      .wrapper__life {
         height: 1002px;
         .life__title {
            margin: 0 20px 40px 20px;
         }
         .life__grid {
            grid-template-columns: 1fr;
            .col {
               flex-direction: row;
               justify-content: start;
               height: 120px;
               padding: 40px;
               & img {
                  width: 40px;
                  height: 40px;
                  margin-right: 30px;
               }
               & p {
                  font-weight: 600;
                  font-size: 24px;
                  line-height: 29px;
                  margin-right: 30px;
                  width: 231px;
                  text-align-last: left;
                  margin-top: 0;
               }
               .arrowd {
                  display: flex;
                  width: 14.5px;
                  height: 7.25px;
               }
               &:hover {
                  .arrowd {
                     display: none;
                  }
                  .arrowu {
                     display: flex;
                     width: 14.5px;
                     height: 7.25px;
                  }
               }
            }
         }
      }
   }

   .map {
      max-width: 480px;
      width: 100%;
      margin-top: 120px;
   }
}