// font-family: 'Open Sans', sans-serif;
// font-family: 'Poppins', sans-serif;

@import "nullstyle.scss";

body {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  background: #fff;
}

.header {
  margin-bottom: 5.2rem;
}

.header__nav {
  height: 7.4rem;
  background: #ffffff;
  display: flex;
  align-items: center;
  padding: 0.6rem 37.6rem 2.3rem 8.6rem;
  .logo {
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 4.5rem;
    letter-spacing: 0.11rem;
    text-transform: lowercase;
    margin-right: 21rem;
  }
  .nav {
    .nav__list {
      display: flex;
      & a {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.6rem;
        letter-spacing: 0.02rem;
        text-transform: lowercase;
        color: #222;
        margin-right: 3.3rem;
        transition: all 0.3s;
        &:hover {
          color: #fd8558;
        }
      }
    }
  }
}

.main {
  height: 76.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/BGmain.png);
  background-size: cover;
  background-position: center;
  .main__text {
    font-weight: 400;
    font-size: 7rem;
    line-height: 8.5rem;
    color: #ffffff;
    text-align: center;
    margin-bottom: 5.4rem;
  }
  .main__buttons {
    & a {
      padding: 1.2rem 3.9rem 1.4rem 3.7rem;
      border: 0.2rem solid #fd8558;
      margin-right: 2.8rem;
      color: #fff;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 3rem;
      transition: all 0.3s;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        background: #fd8558;
      }
    }
  }
}

.about {
  margin-bottom: 18.5rem;
  .about__wrapper {
    .about__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 5.7rem;
      .text__header {
        font-weight: 400;
        font-size: 15rem;
        line-height: 14.5rem;
        letter-spacing: 0.01rem;
        color: #f7f7f7;
        margin-bottom: 4.4rem;
      }
      .text__about {
        display: flex;
        justify-content: center;
        .description-left {
          width: 48rem;
          margin-right: 1.5rem;
          .dl__header {
            font-weight: 400;
            line-height: 1.5rem;
            letter-spacing: 0.2rem;
            text-transform: uppercase;
            color: #fd8558;
            // margin-top: 4.1rem;
            margin-bottom: 3.4rem;
          }
          .dl__text {
            font-weight: 400;
            font-size: 4rem;
            line-height: 5.4rem;
            color: #333333;
          }
        }
        .description-right {
          width: 66rem;
          padding-left: 6rem;
          .dr__text {
            & p:first-child {
              font-weight: 400;
              font-size: 1.8rem;
              line-height: 2.8rem;
              text-transform: capitalize;
              color: #222222;
              margin-bottom: 1.1rem;
            }
            & p:last-child {
              font-weight: 400;
              font-size: 1.5rem;
              line-height: 2.6rem;
              color: #999999;
            }
          }
        }
      }
    }
    .about__mission {
      display: flex;
      justify-content: center;
      .mission__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 6.5rem;
        width: 42.5rem;
        padding: 5.5rem 6.25rem 3.9rem 0;
        & p:nth-child(1) {
          font-weight: 400;
          font-size: 2.6rem;
          line-height: 4.5rem;
          color: #222222;
          margin-bottom: 5.6rem;
          & span {
            font-style: italic;
            color: #fd8558;
          }
        }
        & p:nth-child(2) {
          font-weight: 400;
          font-size: 2rem;
          line-height: 2rem;
          color: #222222;
          margin-bottom: 1.4rem;
        }
        & p:nth-child(3) {
          font-weight: 400;
          font-size: 1.2rem;
          line-height: 2.2rem;
          letter-spacing: 0.18rem;
          color: #cacaca;
        }
      }
    }
  }
}

.need {
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;
  .need__wrapper {
    width: 120rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .need__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      .item__header {
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 3.8rem;
        color: #333333;
      }
      .item__text {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 2.6rem;
        text-align: center;
        color: #999999;
        width: 33.7rem;
      }
    }
  }
}

.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  .works__wrapper {
    .works__lines {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10rem;
      .lines {
        width: 60.6rem;
        height: 0.2rem;
        background: #f5f5f5;
      }
      .color-circle {
        width: 8rem;
        height: 8rem;
        border-radius: 4rem;
        background: #fd8558;
        opacity: 20%;
        margin: 0 3.9rem 0 3.9rem;
      }
    }
    .works__text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 12rem 0 12rem;
      .text__text {
        .text__header {
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 1.5rem;
          letter-spacing: 0.2rem;
          text-transform: uppercase;
          color: #fd8558;
          margin-bottom: 0.8rem;
        }
        .text__description {
          width: 31.2rem;
          font-weight: 400;
          font-size: 3.2rem;
          line-height: 3.8rem;
          color: #333333;
        }
      }
      .text__button {
        align-self: flex-end;
        & a {
          font-weight: 700;
          font-size: 1.5rem;
          line-height: 3rem;
          color: #fff;
          padding: 1.3rem 3.7rem;
          background: #fd8558;
        }
      }
    }
    .works__header {
      font-weight: 400;
      font-size: 20rem;
      line-height: 18rem;
      text-align: right;
      color: #f7f7f7;
      margin-right: 2.7rem;
    }
  }
}

.gallary {
  display: flex;
  justify-content: center;
  margin-bottom: 11.5rem;
  .gallary__wrapper {
    width: 144rem;
    display: grid;
    grid-template-areas:
      "a c d"
      "b c e";

    .item-one {
      grid-area: a;
    }
    .item-five {
      grid-area: e;
    }
    .item-one,
    .item-five {
      width: 36rem;
      height: 36rem;
      background-image: url("../img/gallary/img1.png");
      background-size: cover;
      background-position: center;
    }
    .item-two {
      width: 36rem;
      height: 36rem;
      background-image: url("../img/gallary/img2.png");
      grid-area: b;
      background-size: cover;
      background-position: center;
    }
    .item-three {
      width: 72rem;
      height: 72rem;
      background-image: url("../img/gallary/img3.png");
      grid-area: c;
      background-size: cover;
      background-position: center;
    }
    .item-four {
      width: 36rem;
      height: 36rem;
      background-image: url("../img/gallary/img4.png");
      grid-area: d;
      background-size: cover;
      background-position: center;
    }
    .gallary__item {
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
    .item__checkbox {
      width: 94.44%;
      background-color: #fff;
      opacity: 85%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4rem 3.5rem;
      margin-bottom: 4rem;
      & p {
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 3.3rem;
        color: #222222;
      }
      & input {
        width: 4.6rem;
        height: 4.6rem;
        background: #ffffff;
        border: 0.2rem solid #222222;
        accent-color: #fff;
      }
    }
  }
}

.modern {
  display: flex;
  justify-content: center;
  align-items: center;
  &__wrapper {
    display: flex;
    width: 120rem;
    justify-content: center;
    align-items: center;
  }
  &__text {
    margin-right: 1.6rem;
    width: 45.6rem;
  }
  &__text-header {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: #fd8558;
  }
  &__text-par {
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 3.8rem;
    color: #222222;
    margin-bottom: 1.2rem;
  }
  &__text-text {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.6rem;
    color: #999999;
  }
  &__lines {
    .modern__lines-illustration {
      margin-bottom: 4.5rem;
      p:first-child {
        margin-right: 40.4rem;
      }
    }
    .modern__lines-design {
      margin-bottom: 4.5rem;
      p:first-child {
        margin-right: 34.8rem;
      }
    }
    .modern__lines-development {
      p:first-child {
        margin-right: 40.8rem;
      }
    }
    p {
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 2.5rem;
      color: #222222;
    }
    .text-percent {
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 2.3rem;
      color: #999999;
    }
    .label {
      display: flex;
      align-items: center;
      margin-bottom: 1.2rem;
    }
    .line90 {
      width: 60rem;
      height: 1rem;
      background: #eeeeee;
      position: relative;
      span {
        width: 54rem;
        height: 1rem;
        background: linear-gradient(90deg, #ff4803 0%, #ffae35 59.74%);
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    .line80 {
      width: 60rem;
      height: 1rem;
      background: #eeeeee;
      position: relative;
      span {
        width: 48rem;
        height: 1rem;
        background: linear-gradient(90deg, #ff4803 0%, #ffae35 59.74%);
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    .line95 {
      width: 60rem;
      height: 1rem;
      background: #eeeeee;
      position: relative;
      span {
        width: 57rem;
        height: 1rem;
        background: linear-gradient(90deg, #ff4803 0%, #ffae35 59.74%);
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

.team {
  margin-bottom: 11.5rem;
  &__wrapper {
    padding-top: 10.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__header-text1 {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5rem;
    text-align: center;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: #fd8558;
    margin-bottom: 3rem;
  }
  &__header-text2 {
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 4.2rem;
    text-align: center;
    text-transform: capitalize;
    color: #222222;
    margin-bottom: 3.9rem;
  }
  &__grid {
    display: grid;
    grid-template-columns: 35rem 35rem 35rem;
    grid-template-rows: 35rem 35rem;
    gap: 3rem;
    justify-content: center;
    margin-bottom: 8rem;
  }
  &__grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p:first-child {
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 3rem;
      text-align: center;
      text-transform: capitalize;
      color: #ffffff;
      margin-bottom: 0.1rem;
    }
    p:last-child {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 2.4rem;
      text-align: center;
      color: #fcfcfc;
    }
    &:nth-child(1) {
      background: url(../img/gallary/team/1.png) no-repeat;
    }
    &:nth-child(2) {
      background: url(../img/gallary/team/2.png) no-repeat;
    }
    &:nth-child(3) {
      background: url(../img/gallary/team/3.png) no-repeat;
    }
    &:nth-child(4) {
      background: url(../img/gallary/team/4.png) no-repeat;
    }
    &:nth-child(5) {
      background: url(../img/gallary/team/5.png) no-repeat;
    }
    &:nth-child(6) {
      background: url(../img/gallary/team/6.png) no-repeat;
    }
  }
  &__button {
    a {
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 3rem;
      color: #ffffff;
    }
    background: #fd8558;
    padding: 1.3rem 3.7rem;
    &:hover {
      opacity: 90%;
    }
  }
}
.test {
  background: #3a0f73;
  height: 76rem;
  margin-bottom: 11.5rem;
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__header {
    font-weight: 400;
    font-size: 20rem;
    line-height: 22rem;
    text-align: center;
    color: rgba(170, 170, 170, 0.1);
    margin-top: 7rem;
    margin-bottom: 4.4rem;
  }
  &__block {
  }
  &__block-text {
    width: 82.4rem;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.9rem;
    text-align: center;
    letter-spacing: 0.02rem;
    color: #ffffff;
    margin-bottom: 6.4rem;
  }
  &__block-team {
  }
}
.block-team {
  &__items {
    display: flex;
    justify-content: center;
  }
}
.item-image {
  margin-right: 1.5rem;
}
.item-text {
  display: flex;
  flex-direction: column;
  padding: 0.7rem 0 0.8rem 0;
  p:first-child {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: #ffffff;
    padding-top: 0.7rem;
  }
  p:last-child {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 2.2rem;
    text-align-last: left;
    color: #ffffff;
    padding-bottom: 0.8rem;
  }
}

.planet {
  margin-bottom: 11.5rem;
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__header {
    margin-bottom: 1.6rem;
    p:first-child {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.5rem;
      text-align: center;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      color: #fd8558;
      margin-bottom: 4.7rem;
    }
    p:last-child {
      font-weight: 400;
      font-size: 3.2rem;
      line-height: 4.2rem;
      text-align: center;
      color: #222222;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    width: 117rem;
  }
  &__grid-item {
  }
  &__grid-item-image {
    margin-bottom: 1.8rem;
  }
  &__grid-item-block {
  }
}
.item-date {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.date-links {
  a {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.1rem;
    color: #fd8558;
    &:first-child {
      margin-right: 1.5rem;
    }
  }
}
.date {
  display: flex;
  align-items: center;
  p {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: #999999;
  }
}
.gray-cube {
  width: 0.5rem;
  height: 0.5rem;
  background: #dfdede;
  margin-left: 1.5rem;
  margin-right: 1rem;
}
.item-block-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #222222;
  padding-right: 3.4rem;
  margin-bottom: 3.6rem;
}
.item-link {
  a {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.1rem;
    color: #fd8558;
  }
}
